div{
    background-color: aquamarine;
}
body{

}
select{
    background-color:lightgrey;
    font:  bold;
}
form{
    border: left color 100px lawngreen;
}
.int_form{
    background-color: lightcyan;
}
.ext_form{}